{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Ma liste de course</h1>
    {% if list %}
        {% for category, ingredients in list %}
            <p class="title-category"><strong>{{ category }}</strong></p>
            {% for ingredient in ingredients %}
                <p class="ingredient"> {{ ingredient[0] }} {% if ingredient[1] %} quantité : {{  ingredient[1] }} {% endif %}</p>
            {% endfor %}
        {% endfor %}
        {% else %}
        <h2> Il n'y a rien dans votre caddie </h2>
    {% endif %}

</div>
{% endblock %}
