{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>Liste des recettes de l'application</h1>
    <ul>
        {% for recipe in recipes %}
            <li><a href="{{ path('recipe_show', {recipe: recipe.id}) }}">{{ recipe.name }}</a> </li>
        {% else %}
            <li> Aucune recette ajoutée à l'application </li>
        {% endfor %}

    </ul>
</div>
{% endblock %}
